<!DOCTYPE html><html>
<html lang="en">
  
<head>
  <title>Shadow Check</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <link rel ="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
</head>
<body>
   <nav class="navbar">
    <div class="nav-left">

      <a href="/">
        <img src="{{ url_for('static', filename='favicon.png') }}" alt="Home" class="nav-logo">
      </a>
    </div>
    <div class="nav-right">
          <a href="/repo"> Repository </a>
          <a href="/about" class="active"> About Us</a>
          <a href="/info"> Information</a>
      </div>
  </nav>

  <h1 id="titles"> About Us </h1>
  <h3> Edwin Aviles, Christine Bonoan, Benjamin Olayvar</h3>


</body>
</html>




</html>