<!DOCTYPE html>
<html lang="en">

<head>
  <title>Shadow Check</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
  <link rel ="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png')}}">
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">

      <a href="/">
        <img src="{{ url_for('static', filename='favicon.png') }}" alt="Home" class="nav-logo">
      </a>
    </div>
    <div class="nav-right">
          <a href="/repo"> Repository </a>
          <a href="/about"> About Us</a>
          <a href="/info"> Information</a>
      </div>
  </nav>

  <h1 id="home-title">Shadow Check</h1>
  <h3>Upload an image to see how our models detect
    <br> image tampering in urban infrastructure images through shadow features
  </h3>

  <form id="uploadForm">
    <label for="fileInput" class="custom-upload" id="customUpload">
      <div class="upload-title">Click to Upload Image</div>
      <div class="upload-info">Supports JPEG, JPG</div>
    </label>
    <input type="file" id="fileInput" name="file" hidden/>
  </form>

  <br>
  <div class="chooseMethod">Choose Detection Method</div>
  <br>
  <div class="methods">
    <button class="method" id="mlButton" type="button">
      <span class="method-title">Machine Learning</span>
      <small>Rule-Based + Random Forest</small>
    </button>
    <button class="method" id="dlButton" type="button">
      <span class="method-title">Deep Learning</span>
      <small>CNN-Based Detection</small>
    </button>
  </div>

  <div id="preview-container">
    <img id="preview" src="" alt="Image preview will appear here">
  </div>

  <div class="analyze-row">
    <button id="analyzeButton" type="button" disabled hidden>
      Analyze
    </button>
  </div>

  <div class="analyzing-section">
      <div id="loadingIndicator" class="hidden">Analyzing image…</div>
  </div>

  <div id="total-result-container">
    <div id="result"></div>
  </div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
