<!DOCTYPE html>
<html lang="en">

<head>
    <title>Repository</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel ="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon2.png')}}">
    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css@5.5.1/github-markdown.min.css">
</head>

<body>
    <canvas id="hex-canvas"></canvas>

    <nav class="navbar">
    <div class="nav-left">
        <a href="/" class="nav-logo-link">
            <img src="{{ url_for('static', filename='favicon2.png') }}" alt="Home" class="nav-logo">
            <span class="nav-wordmark">Shadow Check</span>
        </a>
    </div>
    <div class="nav-right" id="nav-right">
        <a href="/repo" class="active">Repository </a>
        <a href="/about">About</a>
        <a href="/info">Information</a>
    </div>
    <button class="hamburger" id="hamburger" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    </nav>

    <h1 class="titles">README.md from GitHub Repository</h1>
    <br>
    <a href="https://www.github.com/clbonoan/senior-project" id="repo-link" target="_blank" rel="noopener noreferrer">
        GO TO REPOSITORY
    </a>
    <br>
    <br>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <div id="readme-container">
        <div class="markdown-body" id="readme">
            <script>
                const owner = "clbonoan";
                const repo = "senior-project";
                const branch = "main";
                const readmeUrl = `https://raw.githubusercontent.com/${owner}/${repo}/${branch}/README.md`;

                async function loadReadme() {
                    const res = await fetch(readmeUrl);
                    const md  = await res.text();
                    document.getElementById('readme').innerHTML = marked.parse(md);
                }
                loadReadme();
            </script>
        </div>
   </div>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <!--<iframe src="https://github.com/clbonoan/senior-project" title="GitHub Repository"></iframe>-->

    <script>
        /* handling functionality for hamburger icon */
        const hamburger = document.getElementById('hamburger');
        const navRight = document.getElementById('nav-right');
        hamburger.addEventListener('click', () => {
            hamburger.classList.toggle('open');
            navRight.classList.toggle('open');
        });
    </script>

</body>
</html>